<?php
/** @var $block \Kuti\PostPoint\Block\PostPointList */
?>
<div data-bind="scope: 'postpoint-data-div'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "postpoint-data-div": {
                        "component": "Kuti_PostPoint/js/postpoint",
                        "postPointList": <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>,
                        "selectField": "#postpoint-select"
                    }
                }
            }
        }
    }
</script>
