<div>
    <label for="postpoint-select" data-bind="i18n: 'Select postpoint'"></label>
    <select id="postpoint-select" data-bind="options: postPointList,
                       optionsText: 'name',
                       value: selectedPostPoint,
                       optionsCaption: 'Choose...'">
    </select>
    <div data-bind="visible: selectedPostPoint">
        <span data-bind="i18n: 'Selected postpoint'"></span>:&nbsp;
        <span data-bind="text: selectedPostPoint() ? selectedPostPoint().name : ''"></span>
        <span data-bind="text: selectedPostPoint() ? selectedPostPoint().zip_code : ''"></span>
        <span data-bind="text: selectedPostPoint() ? selectedPostPoint().city : ''"></span>
        <span data-bind="text: selectedPostPoint() ? selectedPostPoint().address : ''"></span>
    </div>
</div>